<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Movies API tests">
  <test name="Basic tests">
    <classes>
      <class name="basicscenarios.GetFunctionalityTests"/>
      <class name="basicscenarios.PostFunctionalityTests"/>
    </classes>
  </test>
  <test name="Business Requirements coverage">
    <classes>
      <class name="requirementscoverage.SPL002Test"/>
      <class name="requirementscoverage.SPL004Test"/>
      <class name="requirementscoverage.SPL005Test"/>
    </classes>
  </test>
</suite>